@using VTrade_Website_V3.Attributes
@model IEnumerable<DAL.Models.ProductListInfo>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="tblProductsInfoGrid" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Update
                    </th>
                    <th>
                        View
                    </th>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Brand Name
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Product Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var mItem in Model)
                    {
                        <tr>
                            <td>
                                @Html.EncodedActionLink("Update", "UpdateProductInfo", "AdminConsole", new { ProductID = mItem.ID }, null)
                            </td>
                            <td>
                                @Html.EncodedActionLink("View", "ViewProductInfo", "AdminConsole", new { ProductID = mItem.ID }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mItem.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mItem.BrandName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mItem.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => mItem.ProductDesc)
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div id="Product_loader" class="progressloader" style="display:none;">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("body").on("click", "#tblProductsInfoGrid td a", function () {
            $('#Product_loader').show();
        });

        $("#tblProductsInfoGrid").DataTable(
            {
                searching: true,
                ordering: false,
                pageLength: 10
            }
        );
    });
</script>