@using VTrade_Website_V3.Attributes
@model VTrade_Website_V3.Models.BrandListResponseData

@if (Model != null)
{
    {
        int pageCurrent = Model.PageNO;
        int numSize = Model.NumSize;

        <script type="text/javascript">
            $('#lblTopPagination').html("@Model.PageDesc");
            $('#btnPreviousTop').css('display', 'none');
            $('#btnNextTop').css('display', 'none');

        </script>

        if (pageCurrent > 1)
        {
            <script type="text/javascript">
                $('#btnPreviousTop').css('display', 'inline');

                    function btnPrevActionClick()
                    {
                        var PageNO = "@Model.PageNO";
                        var newPageNo = parseInt(PageNO) - parseInt(1);

                        $("#divTable_BrandItem").hide();
                        $('#brand_loader').show();

                        setTimeout(function () {

                            $("#divTable_BrandItem").load("/Brand/GetBrandItems?pageno=" + parseInt(newPageNo));
                            $('#brand_loader').hide();
                            $("#divTable_BrandItem").show();
                            }, 2000);
                        }
            </script>
        }
        if (pageCurrent > 0 && pageCurrent < numSize)
        {
            <script type="text/javascript">
                $('#btnNextTop').css('display', 'inline');

                    function btnNextActionClick() {

                        var PageNO = "@Model.PageNO";
                        var newPageNo = parseInt(PageNO) + parseInt(1);

                        $("#divTable_BrandItem").hide();
                        $('#brand_loader').show();

                        setTimeout(function () {

                            $("#divTable_BrandItem").load("/Brand/GetBrandItems?pageno=" + parseInt(newPageNo));
                            $('#brand_loader').hide();
                            $("#divTable_BrandItem").show();
                        }, 2000);
                    }
            </script>
        }
    }

    foreach (var mItem in Model.lstBrandItem)
    {
        <div class='col-lg-4 col-md-6 Brand-item'>

            @Html.EncodedInnerHtmlActionLink("<img src='" + mItem.BrandImgPath + "' class='img-Brand' alt=''/>", "Index", "Product", new { BrandID = mItem.ID }, null)
            <div class='Brand-info'>
                @Html.EncodedInnerHtmlActionLink("<h4>" + mItem.BrandName + "</h4>", "ProductDetail", "Product", new { BrandID = mItem.ID }, null)
            </div>
        </div>
    }
}

