<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs breadcrumbs2 product">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>
                    Our Products
                </h2>
                <span class="line">
                </span>
                <div class="rightText">
                    <a href="@Url.Action("Index", "Home")" title="Home">Home</a>
                    / Our Products
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->
<section class="inner-page" style="padding: 0px 0 !important;">
    <div class="container">
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="row" data-aos="fade-up" data-aos-delay="100" style="padding-bottom: 20px;">
                    <div class="col-lg-12 d-flex justify-content-center filter-border">
                        <ul id="portfolio-flters">
                            <li class="ddllabel">Category:</li>
                            <li class="ddlitems">
                                @Html.DropDownList("ddlCategoryItems", (IEnumerable<SelectListItem>)ViewData["CategoryListItems"], new { @class = "dropdown-list", @id = "ddlCategoryItems", @onchange = "GetProductItems()" })
                            </li>
                            <li class="ddllabel">Brand:</li>
                            <li class="ddlitems">
                                @Html.DropDownList("ddlBrandItems", (IEnumerable<SelectListItem>)ViewData["BrandListItems"], new { @class = "dropdown-list", @id = "ddlBrandItems", @onchange = "GetProductItems()" })
                            </li>
                            <li class="ddllabel">Sort By:</li>
                            <li class="ddlitems">
                                @Html.DropDownList("ddlSortBy", (IEnumerable<SelectListItem>)ViewData["SortListItems"], new { @class = "dropdown-list", @id = "ddlSortBy", @onchange = "GetProductItems()" })
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12  col-sm-12 col-xs-12" style="text-align:left;padding-left: 20px;padding-bottom: 20px;">
                    <label id="lblPageNO" style="visibility:hidden;"></label>
                    <label id="lblTopPagination" class="lblPagination"></label>&nbsp;&nbsp;
                    <button type="button" id="btnPreviousTop" class="buttonSubmit">
                        < &nbsp;&nbsp; Previous
                    </button>
                    <button type="button" id="btnNextTop" class="buttonSubmit">
                        Next &nbsp;&nbsp;>
                    </button>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="200" id="lstProductItems">
                </div>
                <div id="product_loader" class="progressloader" style="display:none;">
                </div>
            </div>

        </section>
        <!-- End Portfolio Section -->
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        $('#btnPreviousTop').hide();
        $('#btnNextTop').hide();
        GetProductItems(1);
    });

    $(function () {
        $('#btnNextTop').click(function () {
            var _lblPageNO = $('#lblPageNO').text();
            if (_lblPageNO != '') {
                GetProductItems(parseInt(_lblPageNO) + parseInt(1));
            }
        });

        $('#btnPreviousTop').click(function () {
            var _lblPageNO = $('#lblPageNO').text();
            if (_lblPageNO != '') {
                GetProductItems(parseInt(_lblPageNO) - parseInt(1));
            }
        });
    });


    function GetProductItems(Page_NO) {

        $('#product_loader').show();
        $('#lstProductItems').hide();

        var getProductItemsURL = '@Url.Action("GetProductListItems", "Product")';
        var Category_ID = $("#ddlCategoryItems option:selected").val();
        var Brand_ID = $("#ddlBrandItems option:selected").val();
        var Sort_ID = $("#ddlSortBy option:selected").val();

        $.ajax(
            {
                type: 'GET',
                url: getProductItemsURL,
                data: { "CategoryID": Category_ID, "BrandID": Brand_ID, "SortID": Sort_ID, "PageNO": Page_NO },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //console.log(result);

                    setTimeout(function () {
                        $('#product_loader').hide();
                        $('#lstProductItems').show();

                    if (result.ResponseSuccess == true) {

                        $('#btnPreviousTop').hide();
                        $('#btnNextTop').hide();

                        $('#lblPageNO').html(result.PageNO);
                        $('#lblTopPagination').html(result.ResponseMessage2);

                        $('#lstProductItems').html(result.ResponseMessage);

                        if (result.PageNO != '') {
                            var PageNO = result.PageNO;
                             if (PageNO > 1) {
                                 $('#btnPreviousTop').show();
                             }
                        }

                        if ((result.PageNO != '') && (result.NumSize != '')) {
                            var PageNO = result.PageNO;
                            var NumSize = result.NumSize;
                            if ((PageNO > 0) && (PageNO < NumSize)) {
                                $('#btnNextTop').show();
                            }
                        }

                    }
                    else {
                        //alert(result.ResponseMessage);
                        }
                    }, 2000);
                },
            });
    }
</script>