@model VTrade_Website_V3.Models.ProductInfoResponseData

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs breadcrumbs2 product">
    <div class="boxedeb">
        <div class="container page-block-small">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2>
                    Our Products
                </h2>
                <span class="line">
                </span>
                <div class="rightText">
                    <a href="@Url.Action("Index", "Home")" title="Home">Home</a>
                    / <a href="@Url.Action("Index", "Product")" title="Home">Products</a> /
                    @if (Model != null)
                    {
                        if ((Model.ProductHeaderInfo != null) && (Model.ProductHeaderInfo.ProductName != ""))
                        {
                            @Html.DisplayFor(m => m.ProductHeaderInfo.ProductName)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->
<!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <div class="row gy-4" id="elementTag">
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center" id="lstProdImgList">
                        @if (Model != null)
                        {
                            foreach (var mItem in Model.ProductImageList)
                            {
                                <div class='swiper-slide'>
                                    <img src="@Url.Content(@mItem.ProductImgPath)" alt=''>
                                </div>
                            }
                        }
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="portfolio-info" id="lstProdInfo">
                    <h3>Product Information</h3>
                    @if (Model != null)
                    {
                        <ul>
                            @if (Model.ProductHeaderInfo != null)
                            {
                                <li><strong>Product Name</strong>: @Model.ProductHeaderInfo.ProductName</li>
                                <li><strong>Brand Name</strong>: @Model.ProductHeaderInfo.BrandName</li>
                                <li><strong>Category</strong>: @Model.ProductHeaderInfo.CategoryName</li>
                            }
                            @foreach (var mItem in Model.ProductKeyInfo)
                            {
                                <li><strong>@mItem.KeyName</strong>: @mItem.KeyValue</li>
                            }
                        </ul>
                    }
                </div>
                @if (Model != null)
                {
                    if ((Model.ProductHeaderInfo != null) && (Model.ProductHeaderInfo.ProductDesc != ""))
                    {
                        <div class="portfolio-description">
                            <h2></h2>
                            <p>
                                @Html.DisplayFor(m => Model.ProductHeaderInfo.ProductDesc)
                            </p>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row gy-4" id="progressTag" style="display: none; height: 180px;">
            <div id="ProductDetail_loader" class="progressloader-relative">
            </div>
        </div>
    </div>
</section><!-- End Portfolio Details Section -->