
<header>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">say@vtradellc.com</a></i> <i class="bi bi-phone d-flex align-items-center ms-4"><span>+971585019214</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="https://twitter.com/Vtradegoods" target="_blank" class="twitter" style="font-size:16px !important;"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100087336948525" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/vtradegoods/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/vtrade-goods-wholesalers-co-llc-dubai-5b4589253" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://api.whatsapp.com/send/?phone=971585019214&text&type=phone_number&app_absent=0" class="whatsapp" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="https://g.co/kgs/4kNWPU" class="google-plus" target="_blank"><i class="bi bi-google"></i></a>
            </div>
        </div>
    </section>


    <!-- ======= Header ======= -->
    <section id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img alt="BootstrapMade" src="/assets/img/vtradelogo.jpg" />
                </a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <ul id="social-sidebar">
                <li>
                    <a href="https://twitter.com/Vtradegoods" class="bi bi-twitter" target="_blank"><span>Twitter</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100087336948525" class="bi bi-facebook" target="_blank"><span>Facebook</span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/vtradegoods/" class="bi bi-instagram" target="_blank"><span>instagram</span></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/vtrade-goods-wholesalers-co-llc-dubai-5b4589253" class="bi bi-linkedin" target="_blank"><span>linkedin</span></a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send/?phone=971585019214&text&type=phone_number&app_absent=0" class="bi bi-whatsapp" target="_blank"><span>whatsApp</span></a>
                </li>
                <li>
                    <a href="https://g.co/kgs/4kNWPU" class="bi bi-google" target="_blank"><span>Google</span></a>
                </li>
            </ul>

            <nav id="navbar" class="navbar">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>@Html.ActionLink("Brands", "Index", "Brand")</li>
                    <li>@Html.ActionLink("E-Catalogue", "Index", "Catalogue")</li>
                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </section>
</header>
<!-- End Header -->